#f-container{
    display:flex;
    flex-wrap: wrap;

}

.flex-item{
    width:30%;
    height:208px;
    margin-right: 1rem;
}


#search_div{
    margin-left:17.5vw;
    margin-bottom: 2rem;
}

#search{
    width:15rem;
    display: inline-block;
}

.flex-item-image{
    width:100%;
    height:168px !important;
    overflow:hidden;

}

.no-decor{
    text-decoration:none;
}
.cats:hover{
    cursor:pointer;
}

.cats{
    /* color:rgba(0, 160, 253, 0.685) */
}