#project_details{
    margin-top:8rem
}

#aside{
    margin-top:8rem;
    margin
}
#story_details{
    margin-top:2.5rem;
    font-size:1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}