#project_details{
    margin-top:8rem
}

#aside{
    margin-top:8rem;

}
#story_details{
    margin-top:2.5rem;
    font-size:1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#grided{
    margin-right:0px;
    margin-left:0px;
}


.donate-err{
    font-size:2rem;
    /* top:1rem; */
    
}

.carousel-item > img {
    height:360px !important;
  }


#flex-container{
    margin-top: 2rem;
    display:flex;
    flex-wrap:wrap;
    
}

.flex-item{
    width: 46%;
    height: 250px;
    margin-left: 1rem;
    overflow: hidden;
}

.flex-item img {
    overflow: hidden;
}